.portfolio {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 300px;
  margin: 10px 150px 0px 150px;
}


/* Navbar.css */

.navbar {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #282c34; 
  padding: 1rem 2rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.nav-title {
  color: #20b2aa; 
  margin: 0; 
  font-size: 1.5rem; 
  text-align: center; 
}

@media (max-width: 600px) {
  .navbar {
    padding: 1rem; 
  }

  .nav-title {
    font-size: 1.2rem; 
  }
}


.stock_table {
  padding: 20px;
  min-height: 400px;
}

.search_bar {
  padding: 20px;
}

.search_bar_content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.search_bar .autocomplete {
  flex: 1;
}

.search_bar .search_display {
  flex: 2;
}

.search_display {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  padding: 10px;
  align-items: flex-end;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}


.search_display p {
  margin: 5px 0;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px dotted black;
  padding-bottom: 5px;
}

.search_display strong {
  margin-left: auto;
}

.search_display .column {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
}

.search_display .left {
  text-align: left;
  justify-self: unset;
}

.search_display .right {
  text-align: left;
}

.search_display p {
  margin: 5px 0;
}

.search_display h4 {
  margin: 10px 0;
}

@media (max-width: 600px) {
  .search_display {
    flex-direction: column; 
  }

  .search_display .column {
    flex: 1 1 auto; 
    margin-bottom: 10px; 
}