# Node.js
node_modules/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/
*.log
package-lock.json

# Ignore developer-interview-takehome.md
developer-interview-takehome.md

# Vite
.vite/

#SQL Lite
stocks.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
.env
.env.*
*.env


# macOS
.DS_Store

# Logs
logs/
*.log

# Virtual Environment
.venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Test coverage
htmlcov/
.tox/
.nox/

# Other
.vscode/
*.log

# dotenv
.env.local
.env.development.local
.env.test.local
.env.production.local
